/* header */
.header{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    background-color: rgb(65, 199, 188);
    margin-bottom: 10px;
}


/* footer  */
.footer{
    width:100%;
    height:70px;
    display: flex; 
    align-items: center;
    margin-top: 10px;
    background-color:rgb(65, 199, 188) ;
    
}
.footer div{
    width:200px;
    margin:0 auto;
    display:flex;
    justify-content:space-around;
    align-items: center;
}